<h1>Editing Poll</h1>

<%= render 'form' %>

<div class="btn-group btn-group" role="group" aria-label="...">
  <%= link_to 'Show', @poll, type: 'button', class: 'btn btn-primary' %>  
  <%= link_to 'My polls', polls_path(show_me: 'my'), type: 'button', class: 'btn btn-primary' %>
  <%= link_to 'All polls', polls_path, type: 'button', class: 'btn btn-primary' %>
</div>
