<div class="row">
  <div class="col-xs-12">
    <h1>Chat</h1>

    <div id="chat">

      <%= react_component('MessageView') %>

      <%= react_component('Message', name: "stellar") %>

    </div>

  </div>
</div>
