<div class="row">
  <div class="col-xs-12">
    <h1>Chat</h1>

    <div class="">
      place for textbox
    </div>

    <form class="form-inline">
      <textarea class="form-control" rows="3"></textarea>
      <button type="submit" class="btn btn-lg btn-success">Send</button>
    </form>

  </div>
</div>
