<h1>Chat</h1>

<br />

<div id="message_view">

  <% if @chat_messages.any? %>
  <ul id="list_of_messages">
    <%= render partial: 'chat_message', collection: @chat_messages %>
  </ul>
  <% end %>

</div>

<br />

<%= render partial: 'form', locals: { chat_message: @chat_message } %>
