<h1>Chat</h1>

<br />

<div id="message_view">
  <ul>
    <%= sync partial: 'chat_message', collection: @chat_messages %>
    <%= sync_new partial: 'chat_message', resource: @user.chat_messages.build %>
  </ul>
</div>

<br />

<%= render partial: 'form', locals: { chat_message: @user.chat_messages.build } %>
